<div class="panel panel-default">
  <div class="panel-heading"><h4>{{nomeFormulario}}</h4></div>
  <div class="panel-body">
    <form class="form-horizontal" name="frm.filtro" novalidate>
      <fieldset>
        <!-- Select Basic -->
        <div class="form-group" title="Tipo de pessoa ou convênio">
            <label class="col-md-4 control-label" for="tipoPessoa">Tipo</label>
            <div class="col-md-3">
                <select id="tipoPessoa" name="tipoPessoa" class="form-control" ng-model="cadastro.filtro.tipoPessoa">
                    <option value="F">Física</option>
                    <option value="J">Jurídica</option>
                </select>
                <div class="label label-danger" ng-show="navegador.submitido && frm.formulario.tipoPessoa.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Campo Obrigatório
                </div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group" title="Cadastro de Pessoa Física" ng-show="cadastro.filtro.tipoPessoa === 'F'">
            <label class="col-md-4 control-label" for="cpf">CPF</label> 
            <div class="col-md-3">
                <input id="cpf" name="cpf" type="text" placeholder="" class="form-control input-md" ng-model="cadastro.filtro.cpf" ui-br-cpf-mask>
                <div class="label label-danger" ng-show="navegador.submitido && frm.formulario.cpf.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Campo Obrigatório
                </div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group" title="Cadastro Nacional de Pessoa Jurídica" ng-show="cadastro.filtro.tipoPessoa === 'J'">
            <label class="col-md-4 control-label" for="cnpj">CNPJ</label> 
            <div class="col-md-3">
                <input id="cnpj" name="cnpj" type="text" placeholder="" class="form-control input-md" ng-model="cadastro.filtro.cnpj" ui-br-cnpj-mask>
                <div class="label label-danger" ng-show="navegador.submitido && frm.formulario.cnpj.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Campo Obrigatório
                </div>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group" title="Contraparte">
            <label class="col-md-4 control-label" for="contraparte">Nome</label>  
            <div class="col-md-4">
                <input id="contraparte" name="contraparte" type="text" placeholder="" class="form-control input-md" ng-model="cadastro.filtro.contraparte">
                <div class="label label-danger" ng-show="navegador.submitido && frm.formulario.contraparte.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    Campo Obrigatório
                </div>
            </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>