@CHARSET "UTF-8";

#map-canvas {
	height: 100%;
	height: 500px;
	margin: 0px;
	padding: 0px
}

.statusInvalido {
	background-color: #FFC0CB !important;
}

.has-error input:last-child {
	background-color: rgba(255, 0, 0, 0.2) !important;
}

.selecionado {
	background-color: #DDD !important;
}

table {
	cursor: pointer;
}

.statusInvalido {
	background-color: #FFC0CB !important;
}

.texto-branco {
	color: white;
}

.drop-boxx {
	background: #F8F8F8;
	border: 5px dashed #e0ce28;
	width: 100%;
	text-align: center;
}

.drop-boxx.dragover {
	border: 5px dashed #7dcd1d;
}
