<div class="panel panel-default">
  <div class="panel-heading container-fluid">
    <frz-navegador ng-model="contratoArquivoNvg" 
      exibe-nome-botao = "false"
      on-abrir = "abrir()"
      on-agir = "agir()"
      on-ajudar = "ajudar()"
      on-alterar-tamanho-pagina = "alterarTamanhoPagina()"
      on-cancelar = "cancelar()"
      on-cancelar-editar = "cancelarEditar()"
      on-cancelar-excluir = "cancelarExcluir()"
      on-cancelar-filtrar = "cancelarFiltrar()"
      on-cancelar-incluir = "cancelarIncluir()"
      on-confirmar = "confirmar()"
      on-confirmar-editar = "confirmarEditar()"
      on-confirmar-excluir = "confirmarExcluir()"
      on-confirmar-filtrar = "confirmarFiltrar()"
      on-confirmar-incluir = "confirmarIncluir()"
      on-editar = "editar()"
      on-excluir = "excluir()"
      on-filtrar = "filtrar()"
      on-folhear-anterior = "folhearAnterior()"
      on-folhear-primeiro = "folhearPrimeiro()"
      on-folhear-proximo = "folhearProximo()"
      on-folhear-ultimo = "folhearUltimo()"
      on-incluir = "incluir()"
      on-informacao = "informacao()"
      on-limpar = "limpar()"
      on-paginar-anterior = "paginarAnterior()"
      on-paginar-primeiro = "paginarPrimeiro()"
      on-paginar-proximo = "paginarProximo()"
      on-paginar-ultimo = "paginarUltimo()"
      on-restaurar = "restaurar()"
      on-visualizar = "visualizar()"
      on-voltar = "voltar()"
      on-tem-mais-registros = "temMaisRegistros()">
    </frz-navegador>
  </div>
  <div class="painel-body"  ng-if="!contratoArquivoNvg.dados.length">
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      Nenhum registro localizado!
    </div>
  </div>
  <div class="table-responsible" ng-if="contratoArquivoNvg.dados.length">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><frz-seletor ng-model="contratoArquivoNvg"></frz-seletor></th>
          <th width="30">#</th>
          <th>Nome</th>
          <th>Arquivo</th>
          <th>Função</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in contratoArquivoNvg.dados | orderBy: 'nome' | pagina: contratoArquivoNvg.paginaAtual : contratoArquivoNvg.tamanhoPagina | limitTo: contratoArquivoNvg.tamanhoPagina" ng-click="seleciona(item); contratoArquivoNvg.folhaAtual = $index + ((contratoArquivoNvg.paginaAtual-1) * contratoArquivoNvg.tamanhoPagina)">
          <td width="30px">
            <input type="radio" ng-show="contratoArquivoNvg.selecao.tipo === 'U'" ng-model="contratoArquivoNvg.selecao.item" ng-value="item"/>
            <input type="checkbox" ng-show="contratoArquivoNvg.selecao.tipo === 'M'" checklist-model="contratoArquivoNvg.selecao.items" checklist-value="item" ng-click="mataClick($event);"/>
          </td>
          <td>
            {{$index + 1 + ((contratoArquivoNvg.paginaAtual-1) * contratoArquivoNvg.tamanhoPagina)}}
          </td>
          <td>{{item.contrato.nome}}</td>
          <td>{{item.arquivoTipo.id}}</td>
          <td>{{item.arquivoFuncao.id}}</td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
  <div class="panel-footer">
  </div>
</div>

<script type="text/ng-template" id="contratoArquivoFrm.html">
  <div class="modal-header">
    <h3 class="modal-title">Arquivo</h3>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <label class="form-label">Contrato</label>
          <div class="input-group">
            <input type="hidden" ng-model="arquivo.contrato.id">
            <input type="text" class="form-control" placeholder="Pesquisar..." readonly="true" ng-model="arquivo.contrato.nome">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" aria-label="Left Align" ng-click="pesquisaContrato('lg')">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="form-label">Arquivo</label>
          <select class="form-control" ng-model="arquivo.arquivoTipo.id">
            <option value="1">Familiar</option>
            <option value="2">Profissional</option>
            <option value="3">Acadêmico</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="form-label">Função</label>
          <select class="form-control" ng-model="arquivo.arquivoFuncao.id">
            <option value="1">Pai</option>
            <option value="2">Filho</option>
            <option value="3">Neto</option>
          </select>
        </div>
        <div class="col-md-4" ng-show="false">
          <label class="form-label">Detalhes</label>
          <select class="form-control"/>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
  </div>
</script>
